.save {
  h3 {
    font-weight: 500;
    font-size: 42px;
    line-height: 51px;
    @media screen and (max-width: 425px) {
      font-size: 22px;
      line-height: 24px;
    }
  }
  .blocks-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 55px;
    padding-bottom: 80px;
    @media screen and (max-width: 425px) {
      flex-grow: 1;
      flex-grow: 1;
      flex-wrap: wrap;
    }
    .swiper {
      .swiper-slide {
        flex-shrink: 1;
      }
      .swiper-button-next.swiper-button-disabled,
      .swiper-button-prev.swiper-button-disabled {
        color: red;
      }
      .swiper-button-prev {
        background-image: url("./assets/images/makeSave/arrow-left.svg");
        width: 26px;
        height: 23px;
        margin-top: -8px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        &:after {
          display: none;
        }
        @media screen and (max-width: 425px) {
          display: none;
        }
      }
      .swiper-button-next {
        background-image: url("./assets/images/makeSave/arrow-right.svg");
        width: 26px;
        height: 23px;
        margin-top: -8px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        &:after {
          display: none;
        }
        @media screen and (max-width: 425px) {
          display: none;
        }
      }

      .block {
        border: 2px solid rgba(229, 229, 229, 0.5);
        border-radius: 2px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        cursor: pointer;
        @media screen and (max-width: 425px) {
          flex-direction: column;
          align-items: center;
          flex-wrap: wrap;
        }

        img {
          padding-left: 30px;
          @media screen and (max-width: 425px) {
            padding-left: 0;
            padding-top: 16px;
          }
        }
        span {
          padding: 41px 83px 34px 30px;
          @media screen and (max-width: 425px) {
            padding: 12px 31px 17px;
          }
        }
      }
      .arrow {
        img {
          width: 26px;
          height: 23px;
          color: #aaafb4;
          margin-top: 42px;
          cursor: pointer;
        }
      }
    }
  }
}
