.choose {
  h3 {
    font-weight: 500;
    font-size: 42px;
    line-height: 51px;
    color: $colorText;
    @media screen and (max-width: 425px) {
      font-size: 22px;
      line-height: 24px;
      max-width: 260px;
    }
  }
  p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
  }
  .choose-par {
    margin-top: 30px;
    @media screen and (max-width: 425px) {
      display: none;
    }
  }
  .icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 41.4px;
    @media screen and (max-width: 425px) {
      flex-direction: column;
      margin-top: 30px;
    }
    .col {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding-right: 40px;
      @media screen and (max-width: 425px) {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 15px;
      }
      img {
        @media screen and (max-width: 425px) {
          display: flex;
          flex-direction: column;
          justify-content: center;
          flex-basis: 73px;
        }
      }
      .third {
        @media screen and (max-width: 425px) {
          width: 52px;
          height: 49px;
          padding-left: 10px;
        }
      }

      .icons-text {
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-top: 30px;
        color: $colorText;
        @media screen and (max-width: 425px) {
          font-size: 18px;
          line-height: 21px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          text-align: left;
          flex-basis: 258px;
          margin-left: 15px;
          // padding-left: 23px;
        }
      }
      .secondText {
        @media screen and (max-width: 425px) {
          // margin-left: -39px;
        }
      }
      .thirdText {
        @media screen and (max-width: 425px) {
          // margin-left: 20px;
        }
      }
      .fouthText {
        @media screen and (max-width: 425px) {
          // margin-left: 8px;
        }
      }
    }
  }
}
