@import "../variables";

.header {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.12);
  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    .header-left {
      display: flex;
      flex-direction: row;
      align-items: center;
      img {
        margin: 19px 14px 19px 0;
      }
      span {
        color: $colorText;
        font-size: 22px;
        line-height: 27px;
      }
    }
    .header-right {
      margin-top: 28px;
      a {
        color: #333333;
        font-size: 26px;
        line-height: 32px;
        letter-spacing: 0.25px;
      }
    }
  }
}
