@import "../variables";

.overlay {
  left: 0;
  max-height: 693px;
  max-width: 1921px;
  height: 100%;
  width: 100%;
  background-image: url(./assets/images/bc-b2b.png);
  background-repeat: no-repeat;
  background-position: center;

  .main {
    margin-bottom: 815px;
    @media screen and (max-width: 425px) {
      margin-bottom: 30px;
    }

    .consult {
      margin-bottom: 120px;
      @media screen and (max-width: 425px) {
        margin-bottom: 0;
      }

      .links {
        padding-top: 168px;
        @media screen and (max-width: 425px) {
          padding-top: 40px;
        }
        a {
          font-weight: 500;
          font-size: 22px;
          line-height: 105%;
          color: #ffffff;
          opacity: 0.5;
          cursor: pointer;
          @media screen and (max-width: 425px) {
            font-size: 18px;
            line-height: 105%;
          }
        }
        #active {
          opacity: 1;
          margin-left: 61px;
          border-bottom: 1px solid #ffffff;
          padding-bottom: 4px;
          @media screen and (max-width: 425px) {
            font-size: 18px;
            line-height: 105%;
            margin-left: 42px;
          }
        }
      }
      .title {
        margin-top: 43px;
        @media screen and (max-width: 425px) {
          margin-top: 30px;
        }
        h1 {
          font-weight: 600;
          font-size: 50px;
          line-height: 105%;
          color: #ffffff;
          @media screen and (max-width: 425px) {
            font-size: 32px;
            line-height: 110%;
          }
        }
      }
      .text {
        margin-top: 52px;
        @media screen and (max-width: 425px) {
          margin-top: 30px;
        }
        p {
          font-weight: 500;
          font-size: 22px;
          line-height: 105%;
          color: #ffffff;
          @media screen and (max-width: 425px) {
            font-size: 16px;
            line-height: 105%;
          }
        }
      }
      .button {
        margin-bottom: 171px;
        width: 352px;
        height: 54px;
        color: #ffffff;
        background-color: #212121;
        border: none;
        border-radius: 2px;
        margin-top: 55px;
        cursor: pointer;
        @media screen and (max-width: 425px) {
          max-width: 345px;
          width: 100%;
          height: 48px;
          margin-bottom: 30px;
        }
      }
    }
  }
}
.main-choose {
  padding-top: 100px;
  padding-bottom: 100px;
  @media screen and (max-width: 425px) {
    padding-top: 70px;
    padding-bottom: 80px;
  }
}
.main-calculate {
  padding-bottom: 145px;
}
