.find {
  padding-bottom: 80px;
  @media screen and (max-width: 425px) {
    padding-bottom: 30px;
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media screen and (max-width: 425px) {
      flex-direction: column;
    }
    .info {
      h3 {
        font-weight: 400;
        font-size: 46px;
        line-height: 56px;
        margin-bottom: 43px;
        @media screen and (max-width: 425px) {
          font-weight: 500;
          font-size: 22px;
          line-height: 24px;
          margin-bottom: 30px;
        }
      }
      .office {
        @media screen and (max-width: 425px) {
          margin-bottom: 25px;
        }
        h5 {
          font-weight: 600;
          font-size: 19px;
          line-height: 26px;
          margin-bottom: 15px;
          @media screen and (max-width: 425px) {
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
          }
        }
        .main-office {
          &::before {
            content: url(./assets/images/findUs/main-office.svg);
            padding-right: 6px;
          }
        }
        p,
        a {
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          color: #474b59;
        }
        .city {
          margin-bottom: 6px;
          &::before {
            content: url(./assets/images/findUs/city.svg);
            padding-right: 6px;
          }
        }
        a {
          margin-bottom: 6px;
          &::before {
            content: url(./assets/images/findUs/tel.svg);
            padding-right: 6px;
          }
        }
        .time {
          margin-top: 6px;
          &::before {
            content: url(./assets/images/findUs/time.svg);
            padding-right: 6px;
          }
        }
        .close {
          font-weight: 400;
          font-size: 14px;
          line-height: 19px;
          color: rgba(71, 75, 89, 0.8);
          padding-left: 16px;
        }
        .sell-office {
          margin-top: 45px;
          @media screen and (max-width: 425px) {
            margin-top: 25px;
          }
          &::before {
            content: url(./assets/images/findUs/sell-of.svg);
            padding-right: 6px;
          }
        }
      }
      .quest {
        margin-top: 18px;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        margin-top: 18px;
        color: #0b1b28;
        border-bottom: 1px solid #5082f4;
        padding-bottom: 4px;
      }
    }
    .map {
      margin-right: 80px;
      @media screen and (max-width: 425px) {
        margin-top: 30px;
        margin-right: 0;
      }
      iframe {
        width: 750px;
        height: 480px;
        @media screen and (max-width: 425px) {
          max-width: 375px;
          width: 100%;
          min-height: 212px;
          height: 100%;
        }
      }
    }
  }
}
