.form__wrapper {
  display: flex;
  flex-direction: row;
  @media screen and (max-width: 425px) {
    flex-direction: column;
    align-items: flex-start;
  }
  .form__group {
    display: flex;
    flex-direction: column;
    padding-bottom: 65px;
    @media screen and (max-width: 425px) {
      padding-bottom: 40px;
    }
    .form__label {
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 10px;
      color: #333333;
    }
    .wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      .form__input {
        padding-left: 25px;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #333333;
        width: 599px;
        height: 62px;
        border: 2px solid #aab0bd;
        border-radius: 4px;
        @media screen and (max-width: 425px) {
          max-width: 345px;
          max-height: 52px;
          margin: 0 auto;
        }
      }
    }
    span {
      display: inline-block;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      margin-top: 5px;
      color: #70747e;
    }
  }
}
