.form__wrapper {
  display: flex;
  flex-direction: row;
  .form__group {
    display: flex;
    flex-direction: column;
    padding-bottom: 65px;
    .form__label {
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 10px;
      color: #333333;
    }
    .wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      .form__input {
        padding-left: 25px;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #333333;
        width: 599px;
        height: 62px;
        border: 2px solid #aab0bd;
        border-radius: 4px;
      }
    }
    span {
      display: inline-block;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      margin-top: 5px;
      color: #70747e;
    }
  }
}
