@import "./scss/normalize";
@import "./scss/variables";
@import "./scss/components/all";

body {
  font-family: "Montserrat", sans-serif;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  max-width: 1301px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}
.content {
  display: flex;
  flex-direction: column;
  color: #0b1b28;
  flex: 1 0 auto;
}
.footer {
  margin-top: 80px;
  flex: 0 0 auto;
}

@media screen and (max-width: 425px) {
  .goods__camera .swiper-initialized {
    max-width: 907px;
    max-height: 239px;
  }
}

.swiper-slide.swiper-slide-visible.swiper-slide-next,
.swiper-slide.swiper-slide-thumb-active.swiper-slide-visible.swiper-slide-active,
.swiper-slide.swiper-slide-visible,
.swiper-slide.swiper-slide-thumb-active.swiper-slide-next,
.swiper-slide.swiper-slide-visible.swiper-slide-next {
  max-width: 285px;
  width: 100%;
}

.swiper.swiper-initialized.swiper-horizontal.swiper-pointer-events.swiper-free-mode.swiper-watch-progress.mySwiper.swiper-thumbs.swiper-backface-hidden {
  margin-left: 0;
  margin-right: 0;
}

// .swiper-slide {
//   max-width: 285px;
//   width: 100%;
// }

@media screen and (max-width: 425px) {
  .swiper-slide.swiper-slide-thumb-active.swiper-slide-visible.swiper-slide-active {
    max-width: 285px;
    width: 100%;
  }
}
